<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id='error_explanation'>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class:'article_name' %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class:'article_body' %>
  </p>
    <%= f.hidden_field :category_id, value: @category.id %>
  <p>
    <%= f.submit class: 'submit' %>
  </p>

<% end %>
